<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Smart Contact Manager</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-3 rounded-5">

						<div class="container text-center">
							<img th:src="@{/img/edit.png}" style="width: 75px;"
								alt="register_img" />
							<h1 class="text-center">Register Here !!</h1>
						</div>

						<form action="" th:action="@{/register}" method="post" th:object=${user}>

							<!-- name field -->
							<div class="mb-3">
								<label for="name_field" class="mb-2"> Your Name</label> 
								
								<input
									name="name"
									type="text" 
									class="form-control" 
									id="name_field"
									aria-describedby="emailHelp" 
									placeholder="Enter Here"
									th:value="${user.name}"
									required 
								/>
							</div>

							<!-- email field -->
							<div class="mb-3">
								<label for="email_field" class="mb-2"> Email address </label> 
								
								<input
									name="email"
									type="email" 
									class="form-control" 
									id="email_field"
									aria-describedby="emailHelp" 
									placeholder="Enter Here" 
									th:value="${user.username}" 
									required 
								/>
							</div>

							<!-- password field -->
							<div class="mb-3">
								<label for="password_field" class="mb-2"> Password </label> 
								<input
									name="password" 
									type="password" 
									class="form-control" 
									id="name_field"
									aria-describedby="passwordHelp" 
									placeholder="Enter Here" 
									required />
							</div>

							<!-- about field -->
							<div class="mb-3">
								<textarea 
									name="about" 
									placeholder="Enter something about yourself" 
									rows="6"
									class="form-control" 
									th:value="${user.about}">
									</textarea>
							</div>

							<!-- terms & condition -->

							<div class="form-group form-check">
								<input 
									class="form-check-input" 
									id="agreement" 
									type="checkbox"
									name="agreement" />
									
								<label for="agreement">Accept terms and conditions</label>
							</div>

							<div class="container text-center">
								<button class="btn bg-primary text-white" type="submit">Submit</button>
								<button class="btn btn-warning text-white" type="reset">Reset</button>
							</div>


						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>